trigger:
  branches:
    include:
      - main
      - master
      - develop

pr:
  branches:
    include:
      - main
      - master
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- task: Cache@2
  inputs:
    key: 'npm | "$(Agent.OS)" | package-lock.json'
    restoreKeys: |
      npm | "$(Agent.OS)"
    path: $(npm_config_cache)
  displayName: 'Cache npm packages'

- script: |
    npm ci
  displayName: 'Install dependencies'

- script: |
    npx playwright install --with-deps chromium
  displayName: 'Install Playwright browsers'

- script: |
    npm test || true
  displayName: 'Run Cucumber tests'
  continueOnError: true

- script: |
    npm run test:report
  displayName: 'Generate HTML report'
  condition: always()

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: 'report.json'
    failTaskOnFailedTests: false
  displayName: 'Publish test results'
  condition: always()

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: 'cucumber-report.html'
    artifactName: 'cucumber-html-report'
  displayName: 'Publish HTML report'
  condition: always()

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: 'report.json'
    artifactName: 'cucumber-json-report'
  displayName: 'Publish JSON report'
  condition: always()

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: 'screenshots'
    artifactName: 'test-screenshots'
  displayName: 'Publish screenshots'
  condition: always()
  continueOnError: true
